.backgroundImage {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/Landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(5px); */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 200px;
  font-family: Wifty;
  color: rgb(74, 208, 74);
  text-shadow: 0 0 7px #000000;
  position: absolute;
  top: 4rem;
}

.buttonToHome {
  font-size: medium;
  border-radius: 5px;
  padding: 10px;
  width: 130px;
  height: 50px;
  cursor: pointer;
  transition: all 200ms ease;
  font-weight: bold;
  border: none;
  position: absolute;
  top: 30rem;
  left: 45%;
}

.buttonToHome:hover {
  transform: scale(1.05);
}
